.cartItems {
    list-style-type: none;
}

.modalSize {
    min-width: 80vw;
    min-height: 90vh !important;
}

.userCartUList {
    list-style-type: none;
}

.leftSidePaneModalCard,
.rightSidePaneModal {
    min-height: 70vh;
    max-height: 70vh;
    border: none;
}

.leftSidePaneModalCard {
    border-right: 1px solid gray;
}

.rightSidePaneModal {
}

.paymentMethodLabel {
    margin-top: 2rem;
}

.paymentMethodLabelBtns {
    max-width: 7rem;
    min-width: 8rem;
    max-height: 2rem;
    min-height: 3rem;
}
.paymentMethodLabelBtns:focus {
    background: rgb(104, 104, 104);
}

.paymentCol {
    padding: 0.6rem;
}

.placeOrderBtn {
    min-height: 4.5rem;
}

.subTotals {
    font-size: 1.2rem;
}

.subTotalPrices {
    font-size: 1.2rem;
}
