.itemHovered:hover {
    box-shadow: 0 0.2rem 0.2rem 0;
}

.productName {
    font-size: 0.8rem;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.discount {
    font-size: 0.8rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7rem;
    margin-top: 9.5rem;
    min-width: 4rem;
    min-height: 1.5rem;
    background: rgb(232, 191, 125);
    color: black;
    box-shadow: 0 0.17rem 0.18rem 0;
    border-radius: 0.5rem 0.1rem;
}

.price {
    color: black;
    font-size: 1.2rem;
}

.totalSold {
    font-size: 0.9rem;
}

.totalSoldText {
    font-size: 0.8rem;
}

.totalSold,
.totalSoldText {
    display: inline;
    color: gray;
}
