.toCapital::first-letter {
    text-transform: capitalize;
}

.removeButtonInline {
    display: inline-block;
    min-width: 1.8rem;
    min-height: 1rem;
}

.variationTypeTextSize {
    font-size: 1.1rem;
    font-weight: 400;
    min-width: 5rem;
}

.variationTypeContaier {
    padding-right: 1.25rem;
}
